---
// Import necessary components and layout

import Layout from "../../layouts/Layout.astro";
import blogs from "../../components/Data/blog.json";
import "../../styles/mouse-follower.min.css";
import Cta from "../../components/Cta.astro";
import ContentRenderer from "../../components/ContentRenderer.astro";

// Define the interface for the props
interface BlogPostProps {
  blogPost: {
    title: string;
    description: string;
    author: {
      name: string;
      avatar: string;
    };
    content: string;
    date: string;
    type: string;
    slug: string;
  };
}

const pages = blogs;

const { slug } = Astro.params;
const page = pages.find((page) => page.slug === slug);

export async function getStaticPaths() {
  // Generate paths based on your data
  const paths = blogs.map(({ slug }) => ({
    params: { slug },
  }));

  // Convert paths to an array
  return paths;
}

// console.log(`Slug: ${slug}`);

// console.log(`page post: ${JSON.stringify(page)}`);

const pageType = page?.type;

console.log(`page type: ${pageType}`);
---

<Layout title={`${page?.title || "Blog Post Not Found"} - Illunexus`}>
  <main>
    {
      page ? (
        <>
          <div class="container mx-auto px-4 py-8">
            <h1 class="text-4xl font-bold mb-4">{page.title}</h1>
            <p class="text-lg mb-8">{page.description}</p>

            <div class="flex items-center mb-8">
              <img src={page.author.avatar} alt={page.author.name} class="w-16 h-16 rounded-full mr-4" />
              <p class="text-lg">{page.author.name}</p>
            </div>

            {/* Display the blog post content */}
            <div class="prose prose-lg mx-auto">
              <div class="blog-content-wrapper">
                <span>
                  <ContentRenderer content={page.content} />
                </span>
              </div>
            </div>
          </div>
        </>
      ) : (
        <div class="prose text-center text-gray-500 text-3xl p-4 m-4 rounded margin-auto py-12 md:text-4xl">
          <h1>Blog post not found.</h1>
        </div>
      )
    }

    <Cta />
  </main>
</Layout>
